@page
@model AboutUsModel
@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>
<div>
    <div class="meet-developers">
        <h2>Meet the developers</h2>
        <p>We are a team of experienced developers and designers who are passionate about building high-quality software products. Our mission is to provide our users with a seamless and enjoyable experience when using Ticket Blaster.</p>
        <div class="developers-grid" style="display: flex; justify-content: space-between;">
            <div class="developer" style="display: inline-block;">
                <img class="developer-image" src="~/Images/IMG_3941.jpg" alt="Developer image">
                <h3>Brady Bauck</h3>
                <p>Lead Developer</p>
            </div>
            <div class="developer" style="display: inline-block;">
                <img class="developer-image" src="~/Images/Nick.PNG" alt="Developer image">
                <h3>Nick Smith</h3>
                <p>Frontend Developer</p>
            </div>
            <div class="developer" style="display: inline-block;">
                <img class="developer-image" src="~/Images/Tylr.PNG" alt="Developer image">
                <h3>Tyler Thompson</h3>
                <p>Backend Developer</p>
            </div>
            <div class="developer" style="display: inline-block;">
                <img class="developer-image" src="~/Images/Eli.PNG" alt="Developer image">
                <h3>Elijah Green</h3>
                <p>UI Designer</p>
            </div>
        </div>
    </div>
</div>