@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h1 class="display-4">TICKET BLASTER</h1>
    <h1 style="color: grey;">WE BLAST CONVENIENCE FEES RIGHT OUT THE DOOR</h1>
    <p>
    This application is applicable to event holders and event guests.
    We provide meaningful and smooth services to both sides of the event/ticketing process. 
    Event holders can set event dates, times, venues, prices, and ticket amounts. 
    Event guests will be able to search events and look at ticket costs, seating, 
    and details on the availability of tickets with the ability to purchase the tickets that they want.
    </p>
</div>





